<%- include("header")-%>
<link rel="stylesheet" href="/achivements.css"> <!--CSS new-->

<!--ACHIVEMENTS-->

           <section>


          
               <div class="heading1 offset-md-1 ">
    <span>Achivements</span>
    </div>



        
        <!--Content-->

         <div class="container CNpos CNstyle offset-md-1" >
             <div>
        <p style="font-size: 18px;">"Desire is the starting point of all achievement, not a hope, not a wish, but a keen pulsating desire which transcends everything."
Be it perks be it medals, the achievements are surely an outcome of the hardwork that is input. The following are all the recognitions and achievements BMSCE has acquired over the years.</p>
    </div>


 <!--Achivements Started -->


<div class="GTpos" >
     <h2 class="GTstyle"><i class="fas fa-star fapos"></i>Glory of B.M.S.C.E sports over the years<i class="fas fa-star fapos"></i></h2>

</div>

    <!--Achivements List-->

<div>
    
<table class="table container table-striped table-bordered TFpos Lstyle";>

<div>
    <thead>

    <div >
       <tr >
        <th colspan="10" id="Mcol">Number of awards received</th>
    </tr>

    </div>
 
    
    <div>
     <tr id="Mnongrey">

        <th id="M2col">Year</th>
        <th id="M2col">University</th>
        <th id="M2col">Inter-University</th>
        <th id="M2col">State</th>
        <th id="M2col">National</th>
        <th id="M2col">International</th>
        <th id="M2col">Total</th>
    </tr>
    </div>
   
    </thead>

</div>



<div>
    <tbody>

    <div>
         <tr  id="Mgrey">
        <td id="Mrest">2019-20</td>
        <td id="Mrest" >42</td>
        <td id="Mrest" >-</td>
        <td id="Mrest" >13</td>
        <td id="Mrest" >-</td>
        <td id="Mrest" >3</td>
        <td id="Mrest" >58</td>
    </tr>
    </div>

    <div>
     <tr id="Mnongrey">
        <td id = "Mrest">2018-19</td>
        <td id = "Mrest">57</td>
        <td id = "Mrest">14</td>
        <td id = "Mrest">89</td>
        <td id = "Mrest">6</td>
        <td id = "Mrest">11</td>
        <td id = "Mrest">177</td>
    </tr>

    </div>
    <div>
       <tr id="Mgrey">
        <td id = "Mrest">2017-18</td>
        <td id = "Mrest">8</td>
        <td id = "Mrest">9</td>
        <td id = "Mrest">51</td>
        <td id = "Mrest">8</td>
        <td id = "Mrest">2</td>
        <td id = "Mrest">78</td>
    </tr>
    </div>
 
<div>
    <tr id="Mnongrey">
        <td id ="Mrest">2016-17</td>
        <td id ="Mrest">14</td>
        <td id ="Mrest">9</td>
        <td id ="Mrest">53</td>
        <td id ="Mrest">5</td>
        <td id ="Mrest">1 </td>
        <td id ="Mrest">82</td>
    </tr>
</div>


<div>
    <tr id="Mgrey">
        <td id="Mrest">2015-16</td>
        <td id="Mrest">11</td>
        <td id="Mrest">5</td>
        <td id="Mrest">43</td>
        <td id="Mrest">16</td>
        <td id="Mrest">2</td>
        <td id="Mrest">77</td>
    </tr>
</div>

<div>
    <tr id="Mnongrey">
        <td id ="Mrest">2014-15</td>
        <td id ="Mrest">10</td>
        <td id ="Mrest">1</td>
        <td id ="Mrest">33</td>
        <td id ="Mrest">4</td>
        <td id ="Mrest">1</td>
        <td id ="Mrest">49</td>
    </tr>
</div>


<div>
    <tr  id="Mgrey">
        <td id ="Mrest">2013-14</td>
        <td id ="Mrest">7</td>
        <td id ="Mrest">3</td>
        <td id ="Mrest">65</td>
        <td id ="Mrest">2</td>
        <td id ="Mrest">1</td>
        <td id ="Mrest">78</td>
    </tr>
</div>

<div>
    <tr id="Mnongrey">
        <td id="Mrest">2012-13</td>
        <td id="Mrest">5</td>
        <td id="Mrest">3</td>
        <td id="Mrest">55</td>
        <td id="Mrest">12</td>
        <td id="Mrest">10</td>
        <td id="Mrest">8</td>
    </tr>
</div>

<div>
    <tr id="Mgrey">
        <th id ="Mrest">Total</th>
        <th id ="Mrest">154</th>
        <th id ="Mrest">44</th>
        <th id ="Mrest">402</th>
        <th id ="Mrest">53</th>
        <th id ="Mrest">31</th>
        <th id ="Mrest">607</th>
    </tr>
</div>

    </tbody>
    </div>
</table>

</div>



   <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
                  </div>




<!-- Spectacular things-->

<div class="CTFpos  CTF1style" >
     <h2 class="GTstyle  GT1style "><i class="fas fa-star fapos"></i>Spectacular Victories of B.M.S.C.E sports<i class="fas fa-star fapos"></i></h2>

</div>



<div class="container CFpos ">

 <!--1nd  ROW-->

<div class=" row ">

  <div class="col-lg-4 container1 image"> 

<a href="img/1.jpeg">
    <img src="img/1.jpeg" height="150" width="150" alt="dsik" style="border-radius:50%"  class="image"  >
</a>
     <div class = "IFpos">
        <h2 >RUGBY</h2>
        <p> STATE RUGBY TOURNAMENT(2015)
            WINNERS:BMSCE
        </p>
     </div>
     </div>

      <div class="col-lg-4 container1 image" >
      <a href="img/11.jpeg">
        <img src="img/11.jpeg" height="150" width="150" alt="dsik" style="border-radius: 50%;" class="image">
       </a>
       <div class = "IFpos">
        <h2>    KHO-KHO</h2>
        <p>EVENT:VTU-INTER COLLEGE BANGLORE CENTRAL ZONE KHO-KHO TOURNAMENT 
            WINNERS: BMSCE(2007)
        </p>
       </div>
      </div>

      <div class="col-lg-4 container1 image ">
      <a href="img/16.jpeg">
        <img src="img/16.jpeg" height="150" width="150" alt="dsik" style="border-radius: 50%;" class="image">
         </a>
        <div class = "IFpos">
        <h2>PARALYMPIC</h2>
        <p>
            EVENT: SWIMMING(50M)-FREE-STYLE(2017)
            WINNER:PUNITH NANDAKUMAR(BMSCE).
        </p>
        </div>
      </div>

    </div>

    

      <!--2nd  ROW-->
    <div class="row CR2pos CLpos ">

        <div class="col-lg-4 container1 image">
        <a href="img/17.jpeg">
            <img src="img/17.jpeg"  height="150" width="150" alt="dsik" style="border-radius: 50%;"  class="image">
           </a>
           <div class = "IFpos">
            <h2>KHO-KHO</h2>
            <p>EVENT:BANGLORE ZONE KHO KHO TOURNAMENT(2015)
                WINNERS:BMSCE GIRLS KHO-KHO TEAM.
            </p>
            </div>
          </div>


          <div class="col-lg-4 container1 image">
          <a href="img/20.jpeg">
            <img src="img/20.jpeg" height="150" width="150" alt="dsik" style="border-radius: 50%;"  class="image">
           </a>
          <div class = "IFpos">
            <h2>FOOTBALL</h2>
            <p>EVENT: BANGLORE CENTRAL-ZONE AND INTERZONE FOOTBALL TOURNAMENT(2015).
                WINNERS:BMSCE FOOTBALL TEAM.
            </p>
            </div>
          </div>


          <div class="col-lg-4 container1 image">
          <a href="img/11.jpeg">
            <img src="img/11.jpeg" height="150" width="150" alt="dsik" style="border-radius: 50%;"  class="image">
          </a>
         <div class = "IFpos">
            <h2>VOLLEYBALL</h2>
            <p>EVENT:INTER-COLLEGE VOLLEYBALL.(2018)
                BMSCE(RUNNER-UP).
            </p>
         </div>
          </div>

        </div>
    
    </div>





    
    </div>



<%- include("footer")-%>