


<!-- ***************************************  NAV BAR  ********************************-->
          
    <nav class="Npos sticky-top navbar1 navbar-expand-lg bgC ">
            <div class="collapse navbar-collapse " id="navbarNavDropdown">


            <!-- list items position:inline  // all occur as inline objects-->

              <ul class="navbar-nav ml-auto">


                  <!-- 1-->
                  <li class="nav-item">
                  <a class="nav-link " href="DataView1">Home</a>
                </li>


                  <!-- 2 -->

<!--
                   <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notifications
                  </a>

-->
                  <!--list items -->

<!--                  
                  <div class="row">
                  <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  
                    <a id="dropdown-item" class="dropdown-item" href="#">Official BMSCE cricket team seletion on 19th dec</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Chess Inter-college Tournment from 17th dec</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Kreedothsava event meet on 16th dec at 7pm </a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Basketball team selection for Inter-State</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Throwball final match tommorow at 4pm</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Sports meet at sports complex today at 4pm </a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Yoga session with Mr.Yoga Master at 6am</a>

                  </div>
                </div>
              </li>

-->            


                <!-- 3 -->
                <li class="nav-item ">
                  <a class="nav-link" href="AdmineventsList">Event</a>
                </li>


                <!-- 4 -->
                <li class="nav-item">
                  <a class="nav-link" href="NotifyCreate">Notifications</a>
                </li>

                <!-- 5 -->
                <li class="nav-item">
                  <a class="nav-link" href=""></a>
                </li>

              </ul>

            </div>
       </nav>
