<%- include("head")-%>

<link rel="stylesheet" href="/DataView1.css"> <!--CSS new-->


<%- include("adminNav")-%>



<!--Heading/title -->
    <div class="heading1 offset-md-1 ">
    <span>Database Dashboard</span>
    </div>


<!-- Contents  -->

<section>

         <!--1-->
         <div>
         
                   <div class="Cpos ACpos">
                        <i class="fas fa-user-check fa-2x Ipos offset-md-1"></i>
                        <div class="Acard-header1 " >
                            <a  href="DataViewStudent" >
                                <h3>STUDENT DETAILS</h3>
                              <!--  <span class="date">DEC &nbsp;02</span>  -->
                              <!--  <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p> -->
                            </a>
                        </div>
                      </div>

            </div>

        <!--2-->
                      <div class="Cpos ">
                        <i class="fas fa-user-check fa-2x Ipos offset-md-1"></i>
                        <div class="Acard-header1 "  >
                            <a  href="DataViewAllEvents" >
                                <h3>EVENTS DETAILS</h3>
                              <!--  <span class="date">DEC &nbsp;02</span>  -->
                              <!--  <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p> -->
                            </a>
                        </div>
                      </div>


        <!--3-->
                      <div class="Cpos ">
                        <i class="fas fa-user-check fa-2x Ipos offset-md-1"></i>
                        <div class="Acard-header1 "  >
                            <a  href="DataViewEventsRegis" >
                                <h3>EVENTS - REGISTRATION AVAILABLE</h3>
                              <!--  <span class="date">DEC &nbsp;02</span>  -->
                              <!--  <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p> -->
                            </a>
                        </div>
                      </div>

        <!--4-->

                      <div class="Cpos ">
                        <i class="fas fa-user-check fa-2x Ipos offset-md-1"></i>
                        <div class="Acard-header1 "  >
                            <a  href="DataViewEventsNotRegis" >
                                <h3>EVENTS - REGISTRATION CLOSED</h3>
                              <!--  <span class="date">DEC &nbsp;02</span>  -->
                              <!--  <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p> -->
                            </a>
                        </div>
                      </div>

        <!--5-->

                   <div class="Cpos ">
                        <i class="fas fa-user-check fa-2x Ipos offset-md-1"></i>
                        <div class="Acard-header1 "  >
                            <a  href="DataViewUpEvents" >
                                <h3>EVENTS - UPCOMING</h3>
                              <!--  <span class="date">DEC &nbsp;02</span>  -->
                              <!--  <p class="Secline">Inter-college cricket event is being scheduled. So gyus wake up and register for the selection.</p> -->
                            </a>
                        </div>
                      </div>             
                      

</section>

<!--position of footer-->
<div class= "AdminFooter" >
<%- include("footer")-%>
</div>
