<%- include("header")-%>

<link rel="stylesheet" href="/gallery.css"> <!--CSS new-->          



          <!--GALLERY-->
           <section>


     

               <div class="heading1 offset-md-1 ">
    <span>Our Gallery</span>
    </div>
    

        <!--Content-->

         <div class="container CNpos CNstyle offset-md-1 " >
        <p style="font-size: 18px;">Even Picasso won't be able to describe what these pictures convey through them
These are the timeless treasures, the memories of heart. The Gallery which marks all our highs
and lows and speaks how our sports department made its way to the hall of fame.</p>
    </div>


        <div class="Gstyle">

            <!--******************************1************************-->

              <div class="container  Gpos">
                  <div class="row R1pos RFpos">

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/0.jpg" >
                         <img  src="img/0.jpg"  alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/1.jpeg" >
                         <img  src="img/1.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/2.jpeg" >
                         <img  src="img/2.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                    <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/3.jpeg" >
                         <img  src="img/3.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>
                      
                  </div>
              </div>


                    <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
                  </div>

            
    

              <!--*******************************2*******************************-->

                  <div class="fluid-container  ">
                  <div class="row R2pos">


                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/4.jpeg" >
                         <img  src="img/4.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/5.jpeg" >
                         <img  src="img/5.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/6.jpeg" >
                         <img  src="img/6.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                    <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/7.jpeg" >
                         <img  src="img/7.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>
                      
                  </div>
              </div>


       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>
                  
                <!--*****************************3****************************-->

              <div class="container  Gpos">
                  <div class="row R1pos RFpos">

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/8.jpeg" >
                         <img  src="img/8.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/9.jpeg" >
                         <img  src="img/9.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/10.jpeg" >
                         <img  src="img/10.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                                            <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/11.jpeg" >
                         <img  src="img/11.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>
                      
                  </div>
              </div>

         <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>
                
                <!--**************************4**************************-->

                  <div class="fluid-container  ">
                  <div class="row R2pos">


                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/12.jpeg" >
                         <img  src="img/12.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/13.jpeg" >
                         <img  src="img/13.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/14.jpeg" >
                         <img  src="img/14.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                    <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/15.jpeg" >
                         <img  src="img/15.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>
                      
                  </div>
              </div>

          <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>
                   
            <!--***********************5*********************************-->

              <div class="container  Gpos">
                  <div class="row R1pos RFpos">

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/16.jpeg" >
                         <img  src="img/16.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/17.jpeg" >
                         <img  src="img/17.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/18.jpeg" >
                         <img  src="img/18.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                        <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/19.jpeg" >
                         <img  src="img/19.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>
                      
                  </div>
              </div>

                
     <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>  
                <!--*********************6***********************-->
                
                  <div class="fluid-container  ">
                  <div class="row R2pos">


                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/20.jpeg" >
                         <img  src="img/20.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/1.jpeg" >
                         <img  src="img/1.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                      <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/2.jpeg" >
                         <img  src="img/2.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>

                    <div class="container1 image col-lg-3" id= "I12pos">
                          <a href="img/3.jpeg" >
                         <img  src="img/3.jpeg" alt="..." width="250px" height="250px" class="img-thumbnail1 image">
                          <div class="middle">
                         <div class="text2"><i class="fas fa-search fa-2x"></i></div>
                          </div>
                          </a>
                      </div>
                      
                  </div>
              </div>

          </section>

   <div class="dotPos ContL">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>

<%- include("footer")-%>