<!DOCTYPE html>
<html>
    <head>
        <title>BMSCE ARENA <%=title%> </title>

         <!--CSS-->
        <link rel="stylesheet" href="/eventList.css">

        <!-- Bootsrap--> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> 
        
         <!--FAVICONS-->
        <link rel="icon" href="/favimg/a4.png" type="image/png">  

        <!--JavaScript-->
        <script src="app.js" ></script>

        <!--Jquery-->  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>           
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
        <!--GOOGLE FONTS-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans:wght@600&family=PT+Serif&family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">


    </head>

    <body>

        <!--JUMBOTRON Heading-->
       <div class="Jpos">
            <div class="">
    
               
               <!--
                <div>
                    <img class="Lpos" src="caimg/bms logo.png" width="100px" height="100px">
                </div>
                -->



                <div class="Hpos" id="Hstyle">
                    <h2><b>B.M.S. College of Engineering <span class="Tname offset-md-5">B.M.S.C.E&nbsp;&nbsp;&nbsp;ARENA</span></b></h2>
                    <span class=" TSpos animate-border border-black"></span>
                    <h2><b>Autonomous Institute, Affiliated to VTU </b></h2>
                    <h2><b>Estd.1946</b></h2>

             <div class="LGpos">
                  
                   <button type="button" formtarget="/<%=loginAddress%>" class="btn btn-primary "><a class="LAtag" href="/<%=loginAddress%>" ><i class="fas fa-user-circle fa-2x"></i>&nbsp;<b><%=loginName%></b></a></button>

                   </div>


                </div>


                
        
        <!-- Bottom line -->
        
        </div>
                <div id="T-A-line" style="background-color: #007bff;"><div class="AnimateTop"></div></div>
          </div>




<!-- ***************************************  NAV BAR  ********************************-->
          
    <nav class="Npos sticky-top navbar1 navbar-expand-lg bgC ">
            <div class="collapse navbar-collapse " id="navbarNavDropdown">


            <!-- list items position:inline  // all occur as inline objects-->

              <ul class="navbar-nav ml-auto">


                  <!-- 1-->
                  <li class="nav-item">
                  <a class="nav-link " href="/eventsList">Home</a>
                </li>


                  <!-- 2 -->
                   <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notifications
                  </a>


                  <!--list items -->
                  <div class="row ">
                  <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  
                    <a id="dropdown-item" class="dropdown-item" href="#">Official BMSCE cricket team seletion on 19th dec</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Chess Inter-college Tournment from 17th dec</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Kreedothsava event meet on 16th dec at 7pm </a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Basketball team selection for Inter-State</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Throwball final match tommorow at 4pm</a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Sports meet at sports complex today at 4pm </a>
                    <a id="dropdown-item" class="dropdown-item" href="#">Yoga session with Mr.Yoga Master at 6am</a>

                  </div>
                </div>
              </li>


                <!-- 3 -->
                <li class="nav-item ">
                  <a class="nav-link" href="/upcoming">Upcoming Events</a>
                </li>


                <!-- 4 -->
                <li class="nav-item">
                  <a class="nav-link" href="/gallery">Gallery</a>
                </li>

                <!-- 5 -->
                <li class="nav-item">
                  <a class="nav-link" href="/achivements">Achievements</a>
                </li>
              </ul>
            </div>
       </nav>



          
          
         

