<%- include("head")-%>

<!-- **USN*** first input section-->

<!-- **PASSWORD**  input section-->
 <form class="" method="post" action="eventsList"></form>
 <div class="Lcont">
        <label class="text-uppercase">OTP</label>
        <input type="text"  name="otp" maxlength="4"  id="pin" pattern="\d{4}" required/>
 </div>

<%- include("footer")-%>