.a1{
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        padding-left: 25px;
}

.h3Style{
    font-size: 20px;
}
.card-header1{
    border-radius: 70px;
        height: 80px;
        width: 850px;
}

.card1 {
    position: relative;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin-left: 50px;
}

.datee{
   position: absolute;
   margin-left: 725px;
   font-family: 'PT Serif',serif;
}

.lastele{
    margin-bottom: 270px;
}

